body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.menu{
    background-color: rgb(243, 163, 200);
    padding: 10px;
    border-radius: 50px;
}
.menu ul{
    list-style: none;
    margin: 0px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
}
.menu li{
    margin-right: 0 20px;
    padding: 20px;
}
.menu a{
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.menu a:hover{
    color:rgb(207, 102, 151) ;
}
.estilo{
    color:rgb(243, 163, 200) ;
    padding: 50px;
}
.estilo h1{
    font-size: 35px;
}
.estilo p{
    font-size: 20px;
}
#sobre{
    background-color: rgb(243, 163, 200);
    color: antiquewhite;
    padding: 50px;
    width:100%;
    font-size: 25px;
}
.card {
    background-color: rgb(243, 163, 200);
    color: rgb(185, 65, 117);
    width: 250px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(193, 87, 133);
    text-align: center;
    margin: 20px auto;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgb(193, 87, 133);
  }
.card h2 {
    font-size: 30px;
    margin: 15px 0 5px;
    padding: 14px;
  }
  .card p {
    color: rgb(203, 66, 130)S;
    font-size: 20px;
    padding: 20px;
  }
  #servicos{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .card a{
    background-color: rgb(203, 66, 130);
    padding: 18px 32px;
    border-radius: 50px;
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
  .card a:hover{
    background-color: rgb(175, 34, 100);
  }
  .nome{
    font-size: 35px;
    color:rgb(243, 163, 200) ;
  }
  #contato{
    background-color:rgb(243, 163, 200) ;
    color: antiquewhite;
  }
  form {
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
  }
  label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
  }
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color:rgb(203, 66, 130);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  button:hover {
    background-color: rgb(177, 44, 106);
  }
  footer {
    background-color: #ec5aa8;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
  }